@model MVC_Movie.Models.UserProfile

@{
    ViewData["Title"] = "My Profile";
}

<div class="card" style="width: 25rem;">
	@if (!string.IsNullOrEmpty(Model.ProfileImage))
	{
		<img src="@Url.Content($"~/profile/{Model.ProfileImage}")" class="card-img-top" alt="Profile Image" />

	}
	else
	{
		<img src="~/profile/default-picture.jpg" class="card-img-top" alt="Default Image" />
	}

	<div class="card-body">

		<div class="d-flex align-items-center border-start border-4 border-success ps-3">
			<div class="bg-light rounded-circle p-2 shadow-sm me-3">
				<i class="fa-solid fa-user-tie text-success fs-5"></i>
			</div>
			<div>
				<h5 class="fw-bold mb-0 text-uppercase">
					@Model.FullName
				</h5>
				<small class="text-muted">My Profile</small>
			</div>
		</div>

		<p class="card-text float-end badge bg-success bg-opacity-75">
			<i class="fa-solid fa-calendar-days me-1"></i>
			@Model.DateOfBirth?.ToShortDateString()
		</p>
		<hr />

		<p class="card-text" style="text-align: justify;">
			<i class="fa-solid fa-pen me-1 text-secondary"></i>
			<strong class="text-uppercase">Biography</strong>
			<br />
			@Model.Bio
		</p>
		<hr />

		<p class="card-text text-muted">
			Profile Created: @Model.CreatedAt.ToShortDateString()
		</p>

	</div>

	<a asp-action="EditMyProfile" asp-route-id="@Model.Id"
	   class="btn btn-warning text-white m-3">
		Update Profile
	</a>
</div>
