@inject MVC_Movie.Data.ApplicationDbContext _context
@using System.Security.Claims

@{
    bool isAdmin = User.IsInRole("Administrator");

	var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);

	int notificationCount = 0;

	if (userId != null)
	{
		notificationCount = _context.Notifications
			.Count(n => n.UserId == userId && !n.IsRead);
	}
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC_Movie</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC_Movie.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">           
               <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Movies" asp-action="Index">

                    <!--Movie Logo-->
                    <img src="~/images/Movie-Logo.png" alt="Movie Logo"
                         style="height:65px; object-fit:cover;" />
                 </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

						<li class="nav-item ms-3">
							<span class="opacity-75 text-muted fw-bold">
								Movies
								<a class="nav-link text-dark icon-btn @(isAdmin ? "admin" : "user")
                                    @(ViewContext.RouteData.Values["controller"]?.ToString() == "Movies"
								    && ViewContext.RouteData.Values["action"]?.ToString() == "Index"
								    ? "active" : "")" asp-controller="Movies" asp-action="Index">
								    <i class="fa-solid fa-video ms-1" style="font-size: 1.1rem;"></i>
								</a>
							</span>
						</li>

						<li class="nav-item ms-3">
							<span class="opacity-75 text-muted fw-bold">
								Search
								<a class="nav-link text-dark icon-btn @(isAdmin ? "admin" : "user")
                                    @(ViewContext.RouteData.Values["controller"]?.ToString() == "Movies"
								    && ViewContext.RouteData.Values["action"]?.ToString() == "Search"
								    ? "active" : "")" asp-controller="Movies" asp-action="Search">
									<i class="fa-solid fa-magnifying-glass" style="font-size: 1.1rem;"></i>
								</a>
							</span>
						</li>

                        <!-- Only user can access-->
						@if (User.Identity != null && User.Identity.IsAuthenticated)
						{
							<li class="nav-item ms-3">
								<span class="opacity-75 text-muted fw-bold">
									Rentals
									<a class="nav-link text-dark icon-btn @(isAdmin ? "admin" : "user")
		                                @(ViewContext.RouteData.Values["controller"]?.ToString() == "MovieRentals"
									    && ViewContext.RouteData.Values["action"]?.ToString() == "MyRentals"
										? "active" : "")" asp-controller="MovieRentals" asp-action="MyRentals">
										<i class="bi bi-check-circle-fill" style="font-size: 1.1rem;"></i>
									</a>
								</span>
							</li>

							<li class="nav-item ms-3">
								<span class="opacity-75 text-muted fw-bold">
									Purchases
									<a class="nav-link text-dark icon-btn ms-1 @(isAdmin ? "admin" : "user")
		                                @(ViewContext.RouteData.Values["controller"]?.ToString() == "MoviePurchases"
										&& ViewContext.RouteData.Values["action"]?.ToString() == "MyPurchases"
										? "active" : "")" asp-controller="MoviePurchases" asp-action="MyPurchases">
										<i class="fa-solid fa-bag-shopping" style="font-size: 1.1rem;"></i>
									</a>
								</span>
							</li>

							<li class="nav-item ms-3">
                                <span class="opacity-75 text-muted fw-bold">
                                    favorites
								    <a class="nav-link text-dark icon-btn ms-1 @(isAdmin ? "admin" : "user")
		                                @(ViewContext.RouteData.Values["controller"]?.ToString() == "WatchLists"
								        && ViewContext.RouteData.Values["action"]?.ToString() == "MyWatchLists"
								        ? "active" : "")" asp-controller="WatchLists" asp-action="MyWatchLists">
								        <i class="fa-solid fa-list-check" style="font-size: 1.1rem;"></i>
							        </a>
                                </span>
						    </li>

							<li class="nav-item ms-3">
								<span class="opacity-75 text-muted fw-bold">
									Comments
									<a class="nav-link text-dark icon-btn ms-2 @(isAdmin ? "admin" : "user")
			                           @(ViewContext.RouteData.Values["controller"]?.ToString() == "MovieComments"
										&& ViewContext.RouteData.Values["action"]?.ToString() == "MyCommentLists"
										? "active" : "")" asp-controller="MovieComments" asp-action="MyCommentLists">
										<i class="fa-solid fa-comment" style="font-size: 1.1rem;"></i>
									</a>
								</span>
							</li>

							<li class="nav-item ms-3">
								<span class="opacity-75 text-muted fw-bold">
									Notifications
									<a class="nav-link text-dark icon-btn ms-2 @(isAdmin ? "admin" : "user")
			                           @(ViewContext.RouteData.Values["controller"]?.ToString() == "Notifications"
										&& ViewContext.RouteData.Values["action"]?.ToString() == "MyNotification"
										? "active" : "")" asp-controller="Notifications" asp-action="MyNotification">
										<i class="fa-solid fa-bell" style="font-size: 1.1rem;"></i>
										@if (notificationCount > 0)
										{
											<span class="position-absolute ms-5 translate-middle badge rounded-pill bg-danger">
												@notificationCount
											</span>
										}
									</a>
								</span>
							</li>
						}

                        @if (isAdmin)
                        {
                            <li class="nav-item ms-3">
                                <span class="opacity-75 text-muted fw-bold">
                                    Register Movie
									<a class="nav-link text-dark icon-btn ms-3 @(isAdmin ? "admin" : "user")" 
										asp-area="" asp-controller="Movies" asp-action="Create">
										<i class="fa-solid fa-film" style="font-size: 1.1rem;"></i>
									</a>
                                </span>
                            </li>

							<li class="nav-item ms-3">
								<span class="opacity-75 text-muted fw-bold">
									Register Actor
									<a class="nav-link text-dark icon-btn ms-3 @(isAdmin ? "admin" : "user")" 
										asp-controller="MovieActors" asp-action="AddActorProfile">
										<i class="fa-solid fa-user-tie" style="font-size: 1.1rem;"></i>
									</a>
								</span>
							</li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="bg-dark text-light py-3 mt-auto">
        <div class="container d-flex flex-column flex-md-row 
			justify-content-between align-items-center">

            <!-- Copyright -->
            <div class="small mb-2 mb-md-0 me-2">&copy; 2025
            
            <span class="badge bg-warning text-dark">More Movies</span>
            </div>

            <!-- Links -->
			<div>
				<a asp-area="" asp-controller="Home" asp-action="Privacy"
				   class="text-decoration-none text-light me-3">
					Privacy
				</a>

				<a href="https://www.facebook.com/" target='_blank'>
					<i class="fa-brands fa-facebook me-3"></i>
				</a>

				<a href="https://github.com/arsalanhabib01" target='_blank'>
					<i class="fa-brands fa-github me-3"></i>
				</a>

				<a href="https://www.linkedin.com/in/arsalan-habib-9857088a/" target='_blank'>
					<i class="fa-brands fa-linkedin"></i>
				</a>

			</div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
