@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    bool isAdmin = User.IsInRole("Administrator");
}

<ul class="navbar-nav ms-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center gap-2
                      @(isAdmin ? "text-danger fw-bold" : "text-success fw-bold")"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">

                👋 Hello,
                <span class="user-icon mt-1" data-user="@User.Identity?.Name">
                    <i class="fa-solid fa-user-clock" style="font-size: 1.4rem;"></i>
                
                    @if (isAdmin)
                    {
                        <span class="badge bg-danger ms-1">Admin</span>
@*                  } else
                    {
                        <span class="badge bg-success ms-2">User</span> *@
                    }

                </span>
            </a>

            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a class="dropdown-item"
                       asp-area="Identity"
                       asp-page="/Account/Manage/Index">
                        Manage Account
                    </a>
                </li>

                <li>
                    <a class="dropdown-item"
                       asp-controller="UserProfiles"
                       asp-action="MyProfile">
                        My Profile
                    </a>
                </li>

                @if (isAdmin)
                {
                    <li>
                        <a class="dropdown-item text-danger"
                           asp-controller="AdminDashboard"
                           asp-action="Dashboard">
                            Admin Panel
                        </a>
                    </li>
                }

                <li><hr class="dropdown-divider"></li>

                <li>
                    <form asp-area="Identity"
                          asp-page="/Account/Logout"
                          asp-route-returnUrl="@Url.Content("~/Identity/Account/Login")"
                          method="post">
                        <button type="submit" class="dropdown-item text-danger">
                            Logout
                        </button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item me-3">
            Register
            <a class="nav-link text-dark icon-btn ms-1 @(isAdmin ? "user" : "admin")
               @(ViewContext.RouteData.Values["area"]?.ToString() == "Identity"
               && ViewContext.RouteData.Values["page"]?.ToString() == "/Account/Register" ? "active" : "")"
               asp-area="Identity"
               asp-page="/Account/Register">
                <i class="fa-regular fa-address-card" style="font-size: 1.3rem;"></i>
            </a>
        </li>
        <li class="nav-item">
            Login
            <a class="nav-link text-dark icon-btn @(isAdmin ? "user" : "admin")
               @(ViewContext.RouteData.Values["area"]?.ToString() == "Identity"
               && ViewContext.RouteData.Values["page"]?.ToString() == "/Account/Login" ? "active" : "")"
               asp-area="Identity"
               asp-page="/Account/Login">
                <i class="fa-solid fa-user-plus" style="font-size: 1.1rem;"></i>
            </a>
        </li>
    }
</ul>
