@model MVC_Movie.Models.Movie
@using System.Globalization

@{
    Layout = "_FullscreenLayout";
    ViewData["Title"] = "Delete Movie";
}

<h1 class="fw-bold text-center mb-4 text-white">
	<i class="fa fa-trash me-2 text-danger"></i>
	Delete Movie
</h1>


<div class="row bg-white rounded shadow-lg p-4 align-items-center">



	<p class="text-center fw-semibold mb-4 alert alert-danger">
		Are you sure you want to permanently delete this movie?
	</p>
    <dl>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.Title)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.Title)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.ReleaseDate)
	    </dt>
	    <dd class="col-sm-10">
		    @Html.DisplayFor(model => model.ReleaseDate)
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.Genre)
	    </dt>
	    <dd class="col-sm-10">

		    @foreach (var genre in Model.Genre.Split(','))
		    {
			    <span class="badge rounded-pill bg-secondary bg-opacity-75 ms-1">
				    @genre.Trim()
			    </span>
		    }

	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.Rating)
	    </dt>
	    <dd class="col-sm-10">
		    <span>⭐</span> @Model.Rating.ToString("0.0", CultureInfo.InvariantCulture) /10
	    </dd>
	    <dt class="col-sm-2">
		    @Html.DisplayNameFor(model => model.Description)
	    </dt>
        <dd class="col-sm-10" style="text-align: justify;">
		    @Html.DisplayFor(model => model.Description)
	    </dd>
	</dl>

	<form asp-action="Delete">
		<input type="hidden" asp-for="Id" />

		<div class="d-flex justify-content-between">
			<a class="btn btn-outline-secondary px-4"
			   asp-action="Details" asp-route-id="@Model.Id">
				<i class="fa-sharp fa-solid fa-chevron-left me-1"></i>
				Back
			</a>
			<button type="submit" class="btn btn-danger px-4">
				Delete
			</button>
		</div>
	</form>

</div>